
@font-face {
  font-family: "IBM";
  src: url("/fonts/IBMPlexMono-Regular.ttf") format("truetype");
}


@font-face {
  font-family: "IBMBold";
  src: url("/fonts/IBMPlexMono-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Martel";
  src: url("/fonts/Martel-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MartelBold";
  src: url("/fonts/Martel-Bold.ttf") format("truetype");
}